{# templates/card/draw.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Drawn Cards{% endblock %}

{% block body %}
<h1>Drawn Cards</h1>
<div class="drawn-cards">
    {% for card in cards %}
        <div class="card">{{ card }}</div>
    {% endfor %}
</div>
<p>{{ remaining }} cards remaining in the deck.</p>
<a href="{{ path('card_deck') }}" class="btn btn-primary">Back to Deck</a>
{% endblock %}
