{% extends 'base.html.twig' %}

{% block title %}About the MVC Course{% endblock %}

{% block body %}
<div class="container">
    <h1>About the MVC Course</h1>
    <div class="row">
        <div class="col-md-6">
            <p>This course is about the MVC (Model-View-Controller) design pattern and its implementation in web development. The purpose of the course is to provide a deep understanding of MVC and how it can be used to create structured and maintainable web applications.</p>
            <p>Find the course repo on <a href="https://github.com/brodenn/MVC-Symphony" target="_blank">GitHub</a>.</p>
        </div>
        <div class="col-md-6">
            <p>Here is a representative image for MVC:</p>
            <img src="{{ asset('img/puzzle.jpg') }}" alt="Representative MVC image" style="max-width: 100%; height: auto;">
        </div>
    </div>
</div>
{% endblock %}
