{% extends 'base.html.twig' %}

{% block title %}API Index{% endblock %}

{% block body %}
<h1>API Overview</h1>
<p>Welcome to our API. Here you can find information on how to access different features.</p>
<ul>
    {% for name, route in routes %}
        <li>
            <strong>{{ name | capitalize }}</strong>: <a href="{{ route.url }}">{{ route.url }}</a>
            <p>{{ route.description }}</p>
        </li>
    {% endfor %}
</ul>
{% endblock %}
